.*.swp
.*.swo
*.pyc
*.o
*.so
*.su
*.s
*.zip
*.xlsx
.lock*xlsx*
x*.txt
a.out
*~
main
upload/*
*.log
*.i
*.pp
stdout.txt
__pycache__
.DS_Store
database.json
core
sifu_results/
.vscode/
compile.txt
stderr.txt
stdout.txt
infer-out
timeout
target/
run_log.txt
access.log.csv
Challenges/reg_run/
Regression/IO/*
