.drag {
    width: 120px;
    height: 1.3em;
    line-height: 1.3em;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 3px;
    text-align: center;
    background-color: lightgrey;
    position: relative;
    display: inline-block;
}

.hole_1 {
  position: relative;
  left: -11px;
  top: 167px;
}

.hole_2 {
  position: relative;
  left: 44px;
  top: 250px;
}

.hole_3 {
  position: relative;
  left: 154px;
  top: 250px;
}

.hole_4 {
  position: relative;
  left: 258px;
  top: 167px;
}

